<h1>Artists Database</h1>
<p>This database hosts <%= @artists_count %> artists, <%= @albums_count %> albums and <%= @songs_count %> songs.</p>
<p>This is over <%= @songs_duration %> hours of music and <%= @genres_count %> different genres! </p>
<p>Displaying the first <%= @artists.size %> artists</p>
<ul>
  <% @artists.each do |artist| %>
    <li>
      <a href="artists/<%= artist[0] %>">
        <%= artist[1] %>
      </a>
    </li>
  <% end %>
</ul>
