<% if @message %>
  <p id="update-user">
    <%= @message %>
  </p>
<% end %>
<a href="#" id="submit-new-post"><strong>Submit a new post + </strong></a>
<form action="/" method="post" id="add-new-post-form">
  <div class="form-group">
    <label for="post_title">Post Title</label>
    <input type="text" class="form-control" id="post_title" aria-describedby="post_title" placeholder="What's the post's title?" name="title">
  </div>
  <div class="form-group">
    <label for="post_username">Username</label>
    <input type="text" class="form-control" id="post_username" aria-describedby="post_username" placeholder="Who published it?" name="username">
  </div>
  <div class="form-group">
    <label for="post_url">Post URL</label>
    <input type="text" class="form-control" id="post_url" aria-describedby="post_url" placeholder="You can copy/paste the URL here" name="url">
  </div>
  <div class="form-group">
    <label for="post_votes">Post Votes</label>
    <input type="text" class="form-control" id="post_votes" aria-describedby="post_votes" placeholder="How popular is it?" name="votes">
  </div>
  <div class="form-group">
    <label for="post_date">Post Date</label>
    <input type="text" class="form-control" id="post_date" aria-describedby="post_date" placeholder="When was it published?" name="date">
  </div>
  <button type="submit" class="btn btn-primary">Add Post</button>
</form>
<p style="margin-top: 20px;">Displaying <%= @posts_count %> posts by <%= @user_count %> users. </p>
<ul class="list-inline">
</ul>
<ol>
  <% @posts.each do |post| %>
    <li>
      <a href="<%= post.url %>" target="_blank">
        <%= post.title %></a> - <%= post.votes %> votes [published <%= post.date %>]
    </li>
  <% end %>
</ol>
